<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Executables</key>
		<array>
			<string>audiomxd</string>
			<string>mediaserverd</string>
			<string>callservicesd</string>
			<string>InCallService</string>
			<string>coreaudiod</string>
			<string>MobilePhone</string>
			<string>WeChat</string>
			<string>FaceTime</string>
			<string>QQ</string>
			<string>DingTalk</string>
		</array>
		<key>Bundles</key>
		<array>
			<string>com.apple.InCallService</string>
			<string>com.apple.mobilephone</string>
			<string>com.apple.facetime</string>
			<string>com.tencent.xin</string>
			<string>com.tencent.mqq</string>
			<string>com.laiwang.DingTalk</string>
		</array>
	</dict>
</dict>
</plist>
